amqp==5.3.1
asgiref==3.7.2
beautifulsoup4==4.14.3
billiard==4.2.4
bleach==6.2.0
celery==5.6.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
distlib==0.3.6
Django==4.2.30
django-bootstrap4==25.2
django-crispy-forms==1.14.0
django-filter==24.3
django-summernote==0.8.20.0
django-taggit==6.1.0
djangorestframework==3.14.0
env==0.1.0
filelock==3.8.0
kombu==5.6.2
mysql-connector-python==8.0.31
packaging==26.0
Pillow==9.4.0
platformdirs==2.5.4
prompt_toolkit==3.0.52
protobuf==3.20.1
python-dateutil==2.9.0.post0
pytz==2022.7.1
six==1.17.0
soupsieve==2.8.3
sqlparse==0.4.3
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
vine==5.1.0
virtualenv==20.16.7
wcwidth==0.6.0
webencodings==0.5.1

# dotenv for loading local .env files
python-dotenv==1.0.0
